@model PontosColeta.WebApp.Models.Place

@{
    ViewBag.Title = "Create";
}

<div v-cloak id="app">
    @Html.Partial("Overlay")
    <h2>Cadastro</h2>
    <form v-on:submit.prevent="submit">
        <div class="form-horizontal">
            <h4>Localização</h4>
            <hr />
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="map" class="col-md-12" style="width:100%; height: 250px;"></div>
                <div id="mapSearchContainer" class="form-inline col-md-12" style="position: absolute; top: 20px; left: 40px">
                    <div class="form-group">
                        <input type="text" class="form-control" id="mapSearch" placeholder="Pesquisar endereço" autocomplete="off" style="width: 250px">
                    </div>
                </div>
                <div v-if="loading" class="col-md-12" style="position: absolute; width: 100% ; height:250px; text-align: center; background-color: rgba(255, 255, 255, 0.7)"><progress></progress></div>
            </div>
            <div class="col-md-3"></div>
            <div class="clearfix"></div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h4>Local</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", v_model = "place.Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <h4>Endereço</h4>
            <hr />
            @Html.Partial("Address")

            <h4>Horários de Funcionamento</h4>
            <hr />

            <div v-for="day in place.WorkingDays" class="form-group">
                <div class="form-group">
                    <label class="control-label col-md-2">
                        <input type="checkbox" v-model="day.IsEnabled"> {{day.Name}}
                    </label>
                    <div class="col-md-10">
                        <div class="form-inline">
                            <input type="time" class="form-control" v-model="day.StartTime" /> às <input type="time" class="form-control" v-model="day.EndTime" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cadastrar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        @Html.ActionLink("Voltar à Lista", "Index")
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="http://www.bing.com/api/maps/mapcontrol?key=ApDD4-89jIlKKE73oXvmERR86NRcyy7BPtrjDGe0Mk1q8ImIn9u9H2ThDXNgGdZo"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/places/bundle.js"></script>
}
